<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSP</title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-page="/Index" class="navbar-brand">CSP</a>
            </div>
            <div class="navbar-collapse collapse">
                
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

<div class="container body-content">
    <div class="row">
        <div class="col-md-9">
            <div>
                @RenderBody()
            </div>
            <img src="http://sau.no/sau.jpg" alt="This is a picture of a sheep, loaded over http." />

            <div class="pink-box" id="should-be-red">
                It is really important to change the background color of this element to red with an inline script.
            </div>

            <form method="POST">
                <input type="submit" title="Refresh page" value="Refresh page" />
            </form>

            <form action="https://bnfoieoernoriefewfwefwef.cew/vye78wohvlweiuve" method="POST">
                <input type="submit" title="Post to some unidentified page" value="Post to some unidentified page" />
            </form>
        </div>
        <div class="col-md-3">
            <ol class="sidebar">
                <li><a asp-page="/Index">No CSP</a></li>
                <li><a asp-page="/UpgradeInsecureRequests">upgrade-insecure-requests</a></li>
                <li><a asp-page="/MaliciousInlineScript">HACKED!</a></li>
                <li><a asp-page="/DefaultSrcSelf">default-src self</a></li>
                <li><a asp-page="/ScriptSrcOthers">Script and style src</a></li>
                <li><a asp-page="/ImgSrc">img-src *</a></li>
                <li><a asp-page="/InlineScriptNonce">Script nonce</a></li>
                <li><a asp-page="/InlineScriptHash">Script hash</a></li>
                <li><a asp-page="/NoMoreInline">No inline script</a></li>
                <li><a asp-page="/RequireSri">Require Sri</a></li>
                <li><a asp-page="/ButtonWithOnClick">On click-event</a></li>
                <li><a asp-page="/ButtonWithEventListener">Event-listener</a></li>
                <li><a asp-page="/FormActionSelf">Form action</a></li>
            </ol>
        </div>
    </div>
</div>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
