@page
@model ButtonWithEventListenerModel

<h3>Content-Security-Policy</h3>
<ul>
    @foreach (var policy in Model.Policies)
    {
        <li>@policy</li>
    }
</ul>

<input type="button" class="btn" id="clickmebutton" value="Click me!" />
<pre>&lt;input type="button" id="clickmebutton" value="Click me!"/&lt;
&lt;script src="/js/click-me-button.js"&gt;&lt;/script&gt;
</pre>
<pre>
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('clickmebutton')
        .addEventListener('click', doStuffOnClick);
});

function doStuffOnClick() {
    alert('Button clicked!');
}</pre>

<script>alert("Someone managed to sneak malicious code into the page through an inline script!");</script>

<script src="/js/change-color.js"></script>
<script src="/js/click-me-button.js"></script>
