@page
@model FormActionModel

@{
    Layout = "Shared/_CspLayout";
}

@section Explanation
{
    <h4>Form action</h4>
    Form action doesn't default to default-src, which means it will need to be explisitly set.
}
