@page
@model ImgSrcModel

@{
    Layout = "Shared/_CspLayout";
}

@section Explanation
{
    <h4>Problem:</h4>
    How can we allow this script?
    <pre>&lt;script&gt;
    changeColorToRed();
&lt;/script&gt;</pre>
    <pre>&lt;script&gt;
    stealCreditCardInfo();
&lt;/script&gt;</pre>
    
    <pre>script-src 'self' someUrl 'unsafe-inline'</pre>?
}

@section ScriptSection
{
    <script>alert("I just stole your credit card info!");</script>

    <script>
        window.onload = function (e) {
            document.getElementById("should-be-red").style.backgroundColor = "red";
        };
    </script>
}