@page
@model ImgSrcModel

@{
    Layout = "Shared/_CspLayout";
}

@section Explanation
{
    <h4>Problem:</h4>
    How can we allow this script?
    <pre>&lt;script&gt;
    changeColorToRed();
&lt;/script&gt;</pre>
    Without also allowing this script?
    <pre>&lt;script&gt;
    stealCreditCardInfo();
&lt;/script&gt;</pre>
    
    We could use <pre>script-src 'self' someUrl 'unsafe-inline'</pre>, which would allow all inline scripts. 
}

@section ScriptSection
{
    <script>alert("Someone managed to sneak malicious code into the page through an inline script!");</script>

    <script>
        window.onload = function (e) {
            document.getElementById("should-be-red").style.backgroundColor = "red";
        };
    </script>
}