@page
@model MaliciousInlineScriptModel

@{
    Layout = "Shared/_CspLayout";
}

@section Explanation
{
    <h4>How can this happen?</h4>
    Someone might have managed to sneak code into your page via a comment somewhere, which will reach everyone, but it's just as relevant that someone has downloaded a browser extension that injects code into all pages. The important part is that this may happen to every page and it's <strong>your fault</strong> if the customers credit card info or passwords are compromised.
    
    <pre>&lt;script&gt;alert("VIRUS");&lt;/script&gt;</pre>
    
    <h4>How can we fix it?</h4>
    <strong>CSP!</strong>
    We can start adding a proper Content Security Policy! The first step is to set default-src 'self'. This turns off all inline scripts and says that scripts/fonts/styles may only be loaded from my own domain.
}

@section ScriptSection
{
    <script>alert("Someone managed to sneak malicious code into the page through an inline script!");</script>

    <script>
        window.onload = function (e) {
            document.getElementById("should-be-red").style.backgroundColor = "red";
        };
    </script>
}