@page
@model UpgradeInsecureRequestsModel

@{
    Layout = "Shared/_CspLayout";
}

@section Explanation
{
    <h4>Upgrade-insecure-requests</h4>
    Makes all attempts to load http into https. Falls back to http if https doesn't exist.
    
    <h4>Block-all-mixed-content</h4>
    Blocks content loaded over http.
}

@section ScriptSection
{
    <script>
        window.onload = function (e) {
            document.getElementById("should-be-red").style.backgroundColor = "red";
        };
    </script>
}

